
<%= render template: "shared/issc_header" %>

<% require "nokogiri" %>
<% require "open-uri" %>

<div class = "content">

	<div class = "left_content">
		<div id="video_play">
			<div id="video_container">
				<video id="video_0" controls="controls" preload="load">
					<source src="/videos/GameOfThrones.mp4" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<iframe src="https://www.youtube.com/embed/og1jM8p1McM" frameborder="0" scrolling="auto" allowfullscreen></iframe>
				<!-- <video id="video_1" controls="controls" preload="load">
					<source src="https://youtu.be/og1jM8p1McM" type="video/mp4">
					Your Browser does not support this video !
				</video> -->
			</div>
		</div>
	</div>

	<div class = "center_content">
		<div id="video_play">
			<div id="video_container">
				<video id="video_0" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/videojs/youtube_video-7J0fRj04s8U">Lao Pao Er</a>
				<video id="video_1" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/youtube_video-tjosS9Ce3PM">Rang Zi Dan Fei</a>
				<video id="video_2" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/youtube_video-9i-q6O3pRBM">Wo De Shao Nv Shi Dai</a>
				<video id="video_3" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/youtube_video-vg4YRTx5KwE">Gu Huo Zai - Ren Zai Jiang Hu</a>
				<video id="video_4" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/youtube_video-LQcTMtELEeQ">Feng Kuang De Shi Tou</a>
				<video id="video_5" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/youtube_video-cc5JQ8tj0Ew">Qie Ting Feng Yun</a>
				<video id="video_6" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/iqiyi_video-3225b6b8f5e8df25">Han Zhan</a>
			</div>
		</div>
	</div>

	<div class = "right_content">
		<div id="video_play">
			<div id="video_container">
				<video id="video_0" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/gotp_video-5561863">gotp_video-5558819</a>
				<video id="video_1" controls="controls" preload="load">
					<source src="" type="video/mp4">
					Your Browser does not support this video !
				</video>
				<a href="/new_simulatoin/gotp_video-5549041">gotp_video-5558819</a>
			</div>
		</div>
	</div>
	
</div>

<%= render template: "shared/issc_footer" %>