
<%= render template: "shared/header" %>

<% require "nokogiri" %>
<% require "open-uri" %>

<div class = "content">

	<div class = "left_content">
		<div id="video_play">
			<div id="video_container">
				<a href="/videojs/youtube_video-7J0fRj04s8U">
					<img src="/images/movies/thumbnails/LaoPaoEr.jpg" alt="thumbnail" />
				</a>
				<a href="/videojs/youtube_video-7J0fRj04s8U">Lao Pao Er</a>
			</div>
			<div id="video_container">
				<a href="/videojs/youtube_video-vg4YRTx5KwE">
					<img src="/images/movies/thumbnails/GuHuoZai-RenZaiJiangHu.jpg" alt="thumbnail" />
				</a>
				<a href="/new_simulatoin/youtube_video-vg4YRTx5KwE">Gu Huo Zai - Ren Zai Jiang Hu</a>
			</div>
			<div id="video_container">
				<a href="/videojs/iqiyi_video-3225b6b8f5e8df25">
					<img src="/images/movies/thumbnails/HanZhan.jpg" alt="thumbnail" />
				</a>
				<a href="/new_simulatoin/iqiyi_video-3225b6b8f5e8df25">Han Zhan</a>
			</div>
		</div>
	</div>

	<div class = "center_content">
		<div id="video_play">
			<div id="video_container">
				<a href="/videojs/youtube_video-tjosS9Ce3PM">
					<img src="/images/movies/thumbnails/RangZiDanFei.jpg" alt="thumbnail" />
				</a>
				<a href="/new_simulatoin/youtube_video-tjosS9Ce3PM">Rang Zi Dan Fei</a>
			</div>
			<div id="video_container">
				<a href="/videojs/youtube_video-LQcTMtELEeQ">
					<img src="/images/movies/thumbnails/FengKuangDeShiTou.jpg" alt="thumbnail" />
				</a>
				<a href="/new_simulatoin/youtube_video-LQcTMtELEeQ">Feng Kuang De Shi Tou</a>
			</div>
		</div>
	</div>

	<div class = "right_content">
		<div id="video_play">
			<div id="video_container">
				<a href="/videojs/youtube_video-9i-q6O3pRBM">
					<img src="/images/movies/thumbnails/WoDeShaoNvShiDai.jpg" alt="thumbnail" />
				</a>
				<a href="/new_simulatoin/youtube_video-9i-q6O3pRBM">Wo De Shao Nv Shi Dai</a>
			</div>
			<div id="video_container">
				<a href="/videojs/youtube_video-cc5JQ8tj0Ew">
					<img src="/images/movies/thumbnails/QieTingFengYun.jpg" alt="thumbnail" />
				</a>
				<a href="/new_simulatoin/youtube_video-cc5JQ8tj0Ew">Qie Ting Feng Yun</a>
			</div>
		</div>
	</div>
	
</div>

<%= render template: "shared/footer" %>