
<%= render template: "shared/issc_header" %>

<div class = "content">

	<div class = "left_content">
		<!-- <a href="/overview"><img src="/images/overview.png" /></a> -->
	</div>

	<div class = "center_content">
		<!-- <a href="/new_simulation"><img src="/images/new_simulation.png" /></a> -->
		<div class = "text_content">
			<div id = "title">
				OVERVIEW
			</div>
			<div id = "info">
				<p>
					现在跨国企业对华为充满恐惧，只要与华为在业务上出现交集，那华为肯定就是它的噩梦。
				</p>
				<p>
					所以，在跨国企业高层圈，这样的一种共识正在弥漫：与华为业务上没有交集是值得庆幸的；成为华为的竞争对手则是不幸的。
				</p>
				<p>
					这种体会不只是华为早期的竞争对手诺基亚西门子有过，阿尔卡特朗讯有过，爱立信有过，随着华为三大业务板块的确立，现在的苹果、思科、三星都有了切肤体会。
				</p>
				<p>
					经过前两年调整，华为目前业务有三大板块，即运营商网络、企业解决方案和消费者终端。
				</p>
				<p>
					在内部讲话上，任正非把华为目标定位为“真正的领导世界潮流的企业”。曾经军人出身的任正非，意志力坚定，说话做事不达目的绝不罢休。这正是他让竞争对手敬畏的地方。既然分出了明确的三大业务单元，那就意味着在这三大业务板块上，华为的最终目标都是世界第一。
				</p>
				<p>
					任正非现在七十多岁了，以他的性格，肯定要在退休前实现目标。这就意味着，华为要在这三大业务板块上做到老大就是这三五年的事了。
				</p>
				<p>
					在运营商网络上，华为已经做到世界第一了。2013年，华为整体营收395亿美元，实现净利润为34.7亿美元；爱立信营收353亿美元，净利润19亿美元，华为实现了对爱立信的全面超越。其后两者差距越拉越大，今年上半年，爱立信完成营收1063亿瑞典克朗，约合人民币819亿元；华为实现销售收入2455亿元人民币，超出爱立信三倍——在前辈爱立信面前，“后生”华为已经是高不可攀的巨人；在“后生”华为面前，爱立信已经是侏儒，已经不在平视的视线范围内，需要附身才看得见。
				</p>
			</div>
		</div>
	</div>

	<div class = "right_content">
		<a href="/management"><img src="/images/management.png" /></a>
	</div>
	
</div>

<%= render template: "shared/issc_footer" %>