
<body background="/background.jpg">

<%= render template: "shared/header" %>

<h1 style="text-align: center">Image Management</h1>

<table width="100%" style="border: solid 1px; text-align: center">
    <thead>
            <tr style="text-align: center">
                    <th>Image Name</th>
                    <th></th>
            </tr>
    </tead>
	<tbody>
		<tr>
				<td>Ubuntu Server 14.04 LTS</td>
				<td>Edit</td>
		</tr>
	</tbody>
</table>


<br/>
<a href="/management">&laquo; Back</a>

<%= render template: "shared/footer" %>

</body>
