
<%= render template: "shared/occi_header" %>

<div class = "content">

	<div class = "left_content">
		<a href="/overview"><img src="/images/overview.png" /></a>
	</div>

	<div class = "center_content">
		<a href="/new_simulation"><img src="/images/new_simulation.png" /></a>
	</div>

	<div class = "right_content">
		<a href="/management"><img src="/images/management.png" /></a>
	</div>
	
</div>

<%= render template: "shared/occi_footer" %>