
<body background="/background.jpg">

<%= render template: "shared/header" %>

<h1 style="text-align: center">New Simulation Submitted</h1>

<br/>
<a href="/new_simulation">&laquo; Back</a>

<%= render template: "shared/footer" %>

</body>
