
<body background="/background.jpg">

<%= render template: "shared/header" %>

<h1 style="text-align: center"> <br> </h1>
<h1 style="text-align: center">Interoperable Simulation Platform<br>over Cloud Environment</h1>

<table width="100%" style="border: solid 1px; text-align: center">
	<tbody>
		<tr>
			<td><a href="/overview"><img src="/overview.png" /></a></td>
		</tr>
		<tr>
			<td><a href="/new_simulation"><img src="/new_simulation.png" /></a></td>
		</tr>
		<tr>
			<td><a href="/management"><img src="/management.png" /></a></td>
		</tr>
	</tbody>
</table>

<%= render template: "shared/footer" %>

</body>